<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container pt-3">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1 class="display-4">{{ app.title }}</h1>
        <p class="lead">Studying towards 日本語能力試験 N2 level.</p>
        <hr class="my-4">
        <p>Using <a href="http://forum.koohii.com/viewtopic.php?id=5322">Nukemarine's guide</a> and the <a href="http://www.3anet.co.jp/ja/1253/">新完全マスター文法 N２</a> grammar book to track progress.</p>
    </div>

    {% block content %}
    {% endblock %}

</div>
<!-- /container -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>