{% use "components/stage.tpl.html" %}

{% block level %}
<div class="card mb-3">
    <div class="card-header">
        {% if level.deadline %}
        <div class="float-sm-right">
            <span class="badge badge-secondary">Deadline: {{ level.deadline }}</span>
        </div>
        {% endif %}
        <h3 class="text-sm h5 mt-1">
            {{ level.name }}
        </h3>
    </div>
        {% if level.description %}
        <p class="card-text">
            {{ level.description }}
        </p>
        {% endif %}

        {% for stage in level.stages %}
            {% if stage.part and stage.part != oldpart %}
                {% if oldpart %}</ul>{% endif %}
                <div class="card-body">
                    <h4 class="card-title mt-2">{{ stage.part }}</h4>
                </div>
                <ul class="list-group list-group-flush">
            {% elseif not stage.part %}
                <ul class="list-group list-group-flush">
            {% endif %}
            {% set oldpart = stage.part %}

            {{ block('stage') }}
        {% endfor %}
        </ul>
</div>
{% endblock %}