{% use "components/stage.tpl.html" %}

{% block level %}
    <h3 class="py-4">
        {{ level.name }}
        {% if level.deadline %}
            <small class="text-body-secondary">due {{ level.deadline }}</small>
        {% endif %}
    </h3>

    <p class="lead">
        {{ level.description ?? '' }}

        {% if not level.status %}
        <a class="btn btn-outline-secondary"
           data-bs-toggle="collapse"
           href="#level-{{ levelNum }}"
           role="button"
           aria-expanded="false"
           aria-controls="#level-{{ level.name }}"
        >Show details</a>
        {% endif %}
    </p>

    <div class="{{ level.status ? "" : "collapse multi-collapse" }}" id="level-{{ levelNum }}">
    {% for stage in level.stages %}
        {% if stage.part and stage.part != oldpart %}
        <h4 class="py-2">{{ stage.part }}</h4>
        {% endif %}

        {% set oldpart = stage.part %}

        <div class="grid gap-3">
            {{ block('stage') }}
        </div>
    {% endfor %}
    </div>
{% endblock %}