{% use "components/progressbar.tpl.html" %}

{% block stage %}
    <div class="row p-2">
        <div class="col-2 p-1">
            <span {% if stage.description %} data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ stage.description }}"{% endif %}>
                {% if stage.link %}<a href="{{ stage.link }}">{% endif %}
                {{ stage.name }}
                {% if stage.link %}</a>{% endif %}
            </span>
        </div>
        {% with %}
            {% set total = stage.items %}
            {% set progress = stage.complete %}
            {{ block('progressbar') }}
        {% endwith %}
    </div>
{% endblock %}